.form {
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 5px;
 
}

.form label:nth-of-type(n + 2) {
    margin-top: 20px; /* ou a quantidade desejada */
}
.form input {
    font-size: 20px;
    max-width: 450px;
    min-width: 100px;
    border-radius: 5px;
    border: none;
}
.estado {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    max-width: 100px;
}
.user {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    max-width: 450px;
}
#cep {
    border-radius: 5px;
    border: none;
    text-align: center;
    max-width: 140px;
}
button {
    max-width: 130px;
    max-height: 40px;
}
.divForm {
    display: flex;
    align-items: center;
    margin: 10px auto;
    justify-content: space-around;
}

.divButton {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
